@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.container-fluid {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-color: #242424;
  height: 100vh;
}
.heroSection {
  margin-top: 10em;
}
.img-name {
  display: flex;
  justify-content: start;
  align-items: center;
}
.img-name-body {
  font-size: 20px;
  font-weight: 430;
}
.name-dev {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: left;
}
.t1 {
  font-size: 35px;
}
.t2 {
  opacity: 90%;
  font-size: 18px;
}
.imgg img {
  border: 1px solid rgba(255, 255, 255, 0.162);
  border-radius: 50%;
}
.navbar-hero{
  width: max-content;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .icon-link{
}
